/* --- Foundations --- */
:root {
    --Blanco-suave: #FDFDFD;
    --Negro-suave: #1A1A1A;
    --Cyan-vivido: #0DB3F1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /* Ocupa toda la altura */
    display: flex;
    flex-direction: column;
    background-color: var(--Blanco-suave);
}

/* --- Header Section --- */
.header {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-bottom: 1px solid var(--Negro-suave);
    background: var(--Blanco-suave);
}

.header h1 {
    /* H2 Style del diseño original, aplicado aquí */
    color: var(--Cyan-vivido);
    font-family: 'Lexend', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header p {
    /* Body Style */
    color: var(--Negro-suave);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* --- Grid Section --- */
.user-grid {
    display: grid;
    padding: 24px;
    row-gap: 24px;
    column-gap: 24px;
    flex: 1 0 0; /* Esto hace que ocupe el espacio restante */
    align-self: stretch;
    /* 4 filas iguales */
    grid-template-rows: repeat(4, minmax(0, 1fr)); 
    grid-template-columns: 1fr;
    background: var(--Cyan-vivido);
}

/* --- User Cards --- */
.user-card {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    justify-self: stretch;
    border: 1px solid var(--Negro-suave);
    background: var(--Blanco-suave);
    box-shadow: 4px 4px 0 0 rgba(255, 255, 255, 0.90);
    cursor: pointer; /* Para indicar que es clicable */
    transition: transform 0.1s; /* Un toque extra suave */
}

.user-card:active {
    transform: scale(0.98); /* Efecto de pulsación */
}

.user-card h2 {
    color: var(--Cyan-vivido);
    font-family: 'Lexend', sans-serif;
    font-size: 42px;
    font-weight: 700;
}

/* --- Footer dentro de la Card --- */
.card-footer {
    display: flex;
    padding-bottom: 4px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--Negro-suave);
    
    /* Texto del footer */
    color: var(--Negro-suave);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px; 
    font-weight: 500;
}

/* Ajuste del SVG */
.card-footer svg {
    display: block;
    /* El tamaño lo define el atributo width/height del HTML o aquí */
}
